<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :image %>
    <%= f.text_field :image, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :abstract %>
    <%= f.text_area :abstract, class: "form-control no-resize", rows: "3" %>
  </div>

  <div class="field form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control no-resize", rows: "8" %>
  </div>

  <div class="center-content">
    <%= f.submit class: "btn btn-info btn-lg" %>
  </div>
<% end %>
