<% if notice != nil %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>
<% if alert != nil %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

<header class="main-header">
  <h1 class="main-name custom-line-hgt"><%= @article.title %></h1>
  <h2 class="main-author">by <%= @article.author %></h2>
  <p class="main-description desc-top-margin">
    Posted on <%= @article.created_at.strftime("%B %e, %Y at %l:%M %p (%Z %:z)") %>
    <% if (@article.created_at != @article.updated_at) %>
      <br>Last Updated on <%= @article.updated_at.strftime("%B %e, %Y at %l:%M %p (%Z %:z)") %>
    <% end %>
  </p>
</header> <!-- end main-header -->

<section class="article-big">
  <% if (@article.image != "") and (@article.image != nil) %>
    <%= image_tag @article.image, class: "img-responsive img-style"%>
  <% end %>

  <div class="article-text">
    <%= render html: @article.text.html_safe %>
  </div>
</section>

<%= render 'new_comment' %>
<%= render 'comments' %>

<div class="bottom-options">
  <% if user_signed_in? && current_user.admin %>
    <%= link_to 'Edit Article', edit_article_path(@article) %> | 
    <%= link_to 'Delete Article', @article, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <% end %>
  <%= link_to 'Back to Home', root_path %>
</div>
