<% if notice != nil %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="mini-container">
	<header class="main-header">
	  <h1 class="main-name smaller">User Profile</h1>
	</header> <!-- end main-header -->

	<section class="generic-container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">First Name</h3>
			</div>
			<div class="panel-body">
				<%= @user.first_name %>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Last Name</h3>
			</div>
			<div class="panel-body">
				<%= @user.last_name %>
			</div>
		</div>
	</section>

	<div class="bottom-options">
		<%= link_to 'Edit Profile', edit_user_path(@user) %>
		<% if user_signed_in? && current_user.admin %>
	   | <%= link_to 'Back to Users\' List', users_path %>
	  <% end %>
		 | <%= link_to 'Back to Home', root_path %>
	</div>
</div>
