<div class="mini-container">
  <header class="main-header">
    <h1 class="main-name smaller">Forgot Your Password?</h1>
  </header> <!-- end main-header -->

  <section class="generic-container">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field form-group">
		    <%= f.label :email, "E-Mail Password" %>
		    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "ex: name@domain.com" %>
		  </div>

		  <%= f.submit "Send Reset Password Instructions", class: "btn btn-lg btn-block btn-info" %> 
		<% end %>
	</section>

  <div class="bottom-options">
    <%= render "devise/shared/links" %>
  </div>
</div>
